<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sjqcjstock"
    android:versionCode="9"
    android:versionName="1.9" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/applogo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <!--android:theme="@android:style/AppTheme    Theme.Translucent"-->
        <activity
            android:name=".Activity.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="splash" android:scheme="shuijingqiu" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.loginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <!-- qq第三方登录 -->
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--<activity android:name=".ReturnActivity" >-->
        <!--</activity>-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="1105186318"/>
                <!-- 1105186318 -->
            </intent-filter>
        </activity>

        <!-- 微信第三方登录 -->

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="微信登录" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:label="微信支付" />
        <activity
            android:name=".Activity.MainActivity"
            android:label="主页面" />
        <activity
            android:name=".Activity.MainTab"
            android:label="主页面" />
        <activity
            android:name=".Activity.RegisterActivity"
            android:label="注册页面" />
        <activity
            android:name=".Activity.EssenceListActivty"
            android:label="精华帖列表页面" />
        <activity
            android:name=".Activity.hotstocklistActivity"
            android:label="热门股列表页面" />
        <activity
            android:name=".Activity.supermanlistActivity"
            android:label="牛人列表页面" />
        <activity
            android:name=".Activity.topnotelistActivity"
            android:label="置顶帖列表页面" />
        <activity
            android:name=".Activity.forumsearchActivity"
            android:label="股吧搜索页面" />
        <activity
            android:name=".Activity.addnoteActivity"
            android:label="发帖页面" />
        <activity
            android:name=".Activity.personalletterActivity"
            android:label="发私信页面"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.userinfoeditActivity"
            android:label="用户信息编辑页面" />
        <activity
            android:name=".Activity.mynoteslistActivity"
            android:label="我的微博表页面" />
        <activity
            android:name=".Activity.selfselectstocklistActivity"
            android:label="我的自选列表页面" />
        <activity
            android:name=".Activity.combinationlistActivity"
            android:label="我的自选列表页面" />
        <activity
            android:name=".Activity.mycollectActivity"
            android:label="我的收藏页面" />
        <activity
            android:name=".Activity.mysubscribeActivity"
            android:label="我的订阅页面" />
        <activity
            android:name=".Activity.informdetailActivity"
            android:label="资讯详细页面" />
        <activity
            android:name=".Activity.usersettingActivity"
            android:label="我的用户设置页面" />
        <activity
            android:name=".Activity.aboutmyActivityNew"
            android:label="关于我们的页面" />
        <activity
            android:name=".Activity.modifypasswordActivity"
            android:label="修改密码的页面" />
        <activity
            android:name=".Activity.accountboundActivity"
            android:label="账号绑定的页面" />
        <!--<activity-->
            <!--android:name=".Activity.feedbackActivity"-->
            <!--android:label="意见反馈的页面" />-->
        <!--<activity-->
            <!--android:name=".Activity.addfeedbackActivity"-->
            <!--android:label="添加意见反馈的页面" />-->
        <activity
            android:name=".Activity.recivecommentActivity"
            android:label="收到评论的页面" />
        <activity
            android:name=".Activity.sendedcommentActivity"
            android:label="发出的评论页面" />
        <activity
            android:name=".Activity.addcommentweiboActivity"
            android:label="评论微博的页面"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.atmeActivity"
            android:label="at我的评论的页面" />
        <activity
            android:name=".Activity.personalnewsActivity"
            android:label="我的私信的页面" />
        <activity
            android:name=".Activity.commentshortweiboActivity"
            android:label="发长微博的页面"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.commentlongweiboActivity"
            android:label="发短微博的页面"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.commentrewardweiboActivity"
            android:label="发打赏微博的页面"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.addreplycommentweiboActivity"
            android:label="回复评论的页面"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.transpondweiboActivity"
            android:label="转发微博的页面"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.myattentionlistActivity"
            android:label="我关注的用户的页面" />
        <activity
            android:name=".Activity.myfansActivity"
            android:label="粉丝" />
        <activity
            android:name=".Activity.selectstockmatchActivity"
            android:label="选股比赛页面" />
        <activity
            android:name=".Activity.stockmatchreportActivity"
            android:label="赛程报道页面" />
        <activity
            android:name=".Activity.forumnotedetailActivity"
            android:label="正文页" />
        <activity
            android:name=".Activity.essencematchActivity"
            android:label="精英实时赛况更多页面" />
        <activity
            android:name=".Activity.famousmatchActivity"
            android:label="名人实时赛况更多页面" />
        <activity
            android:name=".Activity.IwillselectstockActivity"
            android:label="我来选股页面" />
        <!-- stateVisible|adjustResize默认弹出键盘 -->
        <activity
            android:name=".Activity.personalnewsdetail"
            android:label="即时通信页面"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".Activity.gwzhmatchActivity"
            android:label="股王争霸页面" />
        <activity
            android:name=".Activity.atfriendActivity"
            android:label="检索联系人页面" />
        <activity
            android:name=".Activity.discussareaActivity"
            android:label=" 讨论区界面" />
        <activity
            android:name=".Activity.match.totalessencerankinglistActivity"
            android:label=" 精英总积分榜" />
        <activity
            android:name=".Activity.match.essenceweekrankingActivity"
            android:label=" 精英周积分榜" />
        <activity
            android:name=".Activity.match.famousweekrankingActivity"
            android:label=" 名人总积分榜" />
        <activity
            android:name=".Activity.userinfoeditActivitynew"
            android:label=" 修改用户信息" />
        <activity
            android:name=".Activity.edituser.edituserinfousernameActivity"
            android:label=" 修改用户昵称" />
        <activity
            android:name=".Activity.edituser.edituserinfouserintroActivity"
            android:label=" 修改用户简介" />
        <activity
            android:name=".Activity.todaybullsrankingActivity"
            android:label=" 当日牛股榜列表" />
        <activity
            android:name=".Activity.weekbullsrankingActivity"
            android:label=" 当周牛股榜列表" />
        <activity
            android:name=".Activity.totalrankingnewActivity"
            android:label=" 总积分列表新" />
        <activity
            android:name=".Activity.weekrankingnewActivity"
            android:label=" 周积分列表新" />
        <activity
            android:name=".Activity.weekrankingnewdetailActivity"
            android:label=" 周积分详细列表" />
        <activity
            android:name=".Activity.discussarea.commentlongdiscussareaweiboActivity"
            android:label="讨论区发短微博"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.discussarea.commentshortdisscussareaweiboActivity"
            android:label="讨论区发短微博"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.bindingweixinActivity"
            android:label="绑定微信页面" />
        <activity
            android:name=".Activity.bindingregistweixinActivity"
            android:label="绑定注册微信页面" />
        <activity
            android:name=".Activity.UpdateNicknameActivity"
            android:label="修改用户名" />
        <activity
            android:name=".Activity.systemMessageListActivity"
            android:label="系统消息列表" />
        <activity
            android:name=".Activity.systemMessageActivity"
            android:label="系统消息" />
        <activity
            android:name=".Activity.rewardMessageActivity"
            android:label="打赏消息" />
        <activity
            android:name=".Activity.CrystalBwaterActivity"
            android:label="水晶币流动" />
        <activity
            android:name=".Activity.AgreementActivity"
            android:label="兑换协议页面" />
        <activity
            android:name=".Activity.advertUrlActivity"
            android:label="滚动图片广告展示页面" />
        <activity
            android:name=".Activity.RewardListAcitivity"
            android:label="文章打赏水金币列表页面" />
        <activity
            android:name=".Activity.ForgotPassWordActivity"
                android:label="找回密码" />
        <activity
            android:name=".Activity.RechargeActivity"
                android:label="充值页面" />
        <activity
            android:name=".Activity.CrystalCoinActivity"
                android:label="水晶币页面" />
        <activity
            android:name=".Activity.ShowWebImageActivity"
                android:label="图片放大的页面" />
        <activity
            android:name=".Activity.ActivityMessage"
                android:label="消息进入页面" />
        <activity
            android:name=".Activity.SearchActivity"
            android:label="股吧检索页面" >
        </activity>
        <activity
            android:name="com.example.sjqcjstock.Activity.MyAttentionActivity"
            android:label="关注微博" >
        </activity>

        <!-- 模拟炒股相关页面 -->
        <activity
            android:name=".Activity.stocks.SharesDetailedActivity"
                android:label="股票详细页面" />
        <activity
            android:name=".Activity.stocks.BusinessActivity"
                android:label="买卖页面" />
        <activity
            android:name=".Activity.stocks.QueryActivity"
                android:label="交易查询页面" />
        <activity
            android:name=".Activity.stocks.DayDealActivity"
            android:label="当日成交页面" />
        <activity
            android:name=".Activity.stocks.DayCommissionActivity"
            android:label="当日委托页面" />
        <activity
            android:name=".Activity.stocks.HistoryDealActivity"
            android:label="历史成交页面" />
        <activity
            android:name=".Activity.stocks.HistoryCommissionActivity"
            android:label="历史委托页面" />
        <activity
            android:name=".Activity.stocks.MyDealAccountActivity"
            android:label="交易账户页面" />
        <activity
            android:name=".Activity.stocks.TransactionDetailActivity"
            android:label="当前持仓成交明细页面" />
        <activity
            android:name=".Activity.stocks.ExpertLists"
            android:label="模拟排行榜" />
        <activity
            android:name=".Activity.stocks.SimulationGameActivity"
            android:label="模拟比赛列表" />
        <activity
            android:name=".Activity.stocks.SimulationGameDetailsActivity"
            android:label="模拟比赛详情列表" />
        <activity
            android:name=".Activity.stocks.UserDetailNewActivity"
            android:label="最新的个人中心列表" />

        <receiver
            android:name=".AppRegister"
            android:permission="com.tencent.mm.plugin.permission.SEND" >
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>

        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <!--  分享所需的一些配置 -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >

            <intent-filter>
                <data android:scheme="tencent1105186318" /><!--tencent100371282-->
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--微信分享回调 -->
        <activity
            android:name="cn.sharesdk.demo.wxapi.WXEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />


    </application>

    <!-- MainTab -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- 在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 挂载和反挂载的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 读取手机状态 ,如来了新电话 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 网络访问权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 百度地图定位功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />

    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />-->
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <!-- SDK2.1新增获取用户位置信息 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 获取照相功能权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

</manifest>